@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

.nav-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}

.nav-item {
    list-style-type: none;
    padding: 20px 40px;
}

.nav-item a{
    text-decoration: none;
    color: #fff;
    font-size: 48px;
    font-weight: 600;
}
.logo{
    text-transform: uppercase;
    font-weight: bold;
}

nav {
    height: 300px;
    background-image: url(/img/sweets.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about {
    display: flex;
    align-items: center;
    background-color: #f3f3f3c0;
    padding: 50px 30px;
}
.about p,
.about h3 {
    text-align: center;
    width: 60%;
    margin: auto;
    font-size: 34px;
}

.picture {
    height: 800px;
    background-image: url(/img/chocolate.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.map-info{
    color: #fff;
    font-family: "Sedan", serif;
    font-weight: 600;
    font-style: normal;
    padding-bottom: 20px;
    font-size: 40px;
}
.map{
    border: solid #ffffff 10px;
}


.row-flex {
    display: flex;
    flex-direction: row;
}
.opening-time,
.contact-adress {
    flex: 1;
    margin: 30px 20px;
    font-size: 1.2em;
}

.opening-time p span,
.contact-adress p span {
    display: block;
}

@media screen and (max-width: 576px) {
    .nav-item {
        padding: 12px;
    }
    .nav-item a{
        font-size: 16px;
    }
    nav{
        height: 100px;
    }

    .about {
        padding: 30px;
    }

    .intro h1 {
        font-size: 2em;
    }

    .about p,
    .about h3 {
        font-size: 15px;
    }

    .row-flex {
        display: flex;
        flex-direction: column;
    }

    .row-flex h3 {
        font-size: 25px;
        text-align: center;
    }
    .opening-time p span,
    .contact-adress p span {
        font-size: 15px;
        text-align: center;
    }

}
